extends layout

block content
   h2 #{title}
   body
      form(action='/articles/add', method='POST')
         div
            label(for='title') Title:
            input(name='articleTitle', type='text')
         br
         div
            label(for='author') Author:
            input(name='articleAuthor', type='text')
         br 
         div
            label(for='body') Body:
            input(name='articleBody', type='text')
         br
         button(type='submit') Add


      h2 Bootstrap
      br
      

      label Title:
      input.form-control(name='title', type='text')

