extends layout

block content
   h2 #{title}
   body
      form(action='/quotes', method='POST')
         div
            label(for='name') Name:
            input(name='name', type='text')
         br
         div
            label(for='quote') Author:
            input(name='quote', type='text')
         br 
         button(type='submit') Add
