extends layout

block content
    form#uploadForm(ref='uploadForm', action='', method='post', enctype='multipart/form-data')
        input(type='file', name='sampleFile')
        input(type='submit', value='Upload!')

        if errors 
            ul
                for error in errors
                    li!= error.msg