extends layout

block content
	//-data = data || {}
	if errors
		ul
			for error in errors
				li=error.msg

				
	form(action='/articles/sitepoint', method='POST')
		div
			label(for='title') Title:
			input(name='articleTitle', type='text')
		br
		div
			label(for='author') Author:
			input(name='articleAuthor', type='text')
		br 
		div
			label(for='body') Body:
			input(name='articleBody', type='text')
		br
		button(type='submit') Add
